{% if label != blank %}
    {% liquid
        case button_style
            when 'outlined'
                assign button_classes = 'btn btn--secondary'
            when 'underlined'
                assign button_classes = 'btn--underlined'
            else
                assign button_classes = 'btn'
        endcase
    %}
<div class="homepage-section-btn-container{% if button_style == 'underlined' %} text-link-animated{% endif %}">
        <a
            class="{{ button_classes }} homepage-section-btn"
            href="{% if link != blank %}{{ link }}{% else %}#{% endif %}"
            data-section-main-link
            {% if label == blank %}
                aria-hidden="true"
            {% endif %}
            {% if custom_attributes %}{{ custom_attributes }}{% endif %}
        >
        {{ label }}
        </a>
    </div>
{% endif %}